{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datenschutz</title>
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'index/../../static/index/css/index.css' %}">
</head>
<body>
<div class="container">
    <h2>Datenschutzerklärung</h2>
    <h3>Datenschutz</h3>
    Wir haben diese Datenschutzerklärung (Fassung 05.07.2020-321191713) verfasst, um Ihnen gemäß der Vorgaben der
    Datenschutz-Grundverordnung (EU) 2016/679 zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und
    welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.
    <br/>
    Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der
    Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.
    <br/><br/>
    <h3>Speicherung persönlicher Daten</h3>
    Persönliche Daten, die Sie uns auf dieser Website elektronisch übermitteln, wie zum Beispiel Name, E-Mail-Adresse,
    Adresse oder andere persönlichen Angaben im Rahmen der Übermittlung eines Formulars oder Kommentaren im Blog, werden
    von uns gemeinsam mit dem Zeitpunkt und der IP-Adresse nur zum jeweils angegebenen Zweck verwendet, sicher verwahrt
    und nicht an Dritte weitergegeben.
    <br/><br/>
    Wir nutzen Ihre persönlichen Daten somit nur für die Kommunikation mit jenen Besuchern, die Kontakt ausdrücklich
    wünschen und für die Abwicklung der auf dieser Webseite angebotenen Dienstleistungen und Produkte. Wir geben Ihre
    persönlichen Daten ohne Zustimmung nicht weiter, können jedoch nicht ausschließen, dass diese Daten beim Vorliegen
    von rechtswidrigem Verhalten eingesehen werden.
    <br/><br/>
    Wenn Sie uns persönliche Daten per E-Mail schicken – somit abseits dieser Webseite – können wir keine sichere
    Übertragung und den Schutz Ihrer Daten garantieren. Wir empfehlen Ihnen, vertrauliche Daten niemals unverschlüsselt
    per E-Mail zu übermitteln.
    <br/><br/>
    Die Rechtsgrundlage besteht nach Artikel 6 Absatz 1 a DSGVO (Rechtmäßigkeit der Verarbeitung) darin, dass Sie uns
    die Einwilligung zur Verarbeitung der von Ihnen eingegebenen Daten geben. Sie können diesen Einwilligung jederzeit
    widerrufen – eine formlose E-Mail reicht aus, Sie finden unsere Kontaktdaten im Impressum.
    <br/><br/>
    <h3>Rechte laut Datenschutzgrundverordnung</h3>
    Ihnen stehen laut den Bestimmungen der DSGVO grundsätzlich die folgende Rechte zu:
    <br/><br/>
    Recht auf Berichtigung (Artikel 16 DSGVO)<br/>
    Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)<br/>
    Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)<br/>
    Recht auf Benachrichtigung – Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener
    Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)<br/>
    Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)<br/>
    Widerspruchsrecht (Artikel 21 DSGVO)<br/>
    Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden
    Entscheidung unterworfen zu werden (Artikel 22 DSGVO)
    Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
    datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich an die Bundesbeauftragte
    für den Datenschutz und die Informationsfreiheit (BfDI) wenden.
    <br/><br/>
    <h3>Instagram Datenschutzerklärung</h3>
    Wir haben auf unserer Webseite Funktionen von Instagram eingebaut. Instagram ist eine Social Media Plattform des
    Unternehmens Instagram LLC, 1601 Willow Rd, Menlo Park CA 94025, USA. Instagram ist seit 2012 ein Tochterunternehmen
    von Facebook Inc. und gehört zu den Facebook-Produkten. Das Einbetten von Instagram-Inhalten auf unserer Webseite
    nennt man Embedding. Dadurch können wir Ihnen Inhalte wie Buttons, Fotos oder Videos von Instagram direkt auf
    unserer Webseite zeigen. Wenn Sie Webseiten unserer Webpräsenz aufrufen, die eine Instagram-Funktion integriert
    haben, werden Daten an Instagram übermittelt, gespeichert und verarbeitet. Instagram verwendet dieselben Systeme und
    Technologien wie Facebook. Ihre Daten werden somit über alle Facebook-Firmen hinweg verarbeitet.
    <br/><br/>
    Im Folgenden wollen wir Ihnen einen genaueren Einblick geben, warum Instagram Daten sammelt, um welche Daten es sich
    handelt und wie Sie die Datenverarbeitung weitgehend kontrollieren können. Da Instagram zu Facebook Inc. gehört,
    beziehen wir unsere Informationen einerseits von den Instagram-Richtlinien, andererseits allerdings auch von den
    Facebook-Datenrichtlinien selbst.
    <br/><br/>
    <h4>Was ist Instagram?</h4>
    Instagram ist eines der bekanntesten Social Media Netzwerken weltweit. Instagram kombiniert die Vorteile eines Blogs
    mit den Vorteilen von audiovisuellen Plattformen wie YouTube oder Vimeo. Sie können auf „Insta“ (wie viele der User
    die Plattform salopp nennen) Fotos und kurze Videos hochladen, mit verschiedenen Filtern bearbeiten und auch in
    anderen sozialen Netzwerken verbreiten. Und wenn Sie selbst nicht aktiv sein wollen, können Sie auch nur anderen
    interessante Users folgen.
    <br/><br/>
    <h4>Warum verwenden wir Instagram auf unserer Webseite?</h4>
    Instagram ist jene Social Media Plattform, die in den letzten Jahren so richtig durch die Decke ging. Und natürlich
    haben auch wir auf diesen Boom reagiert. Wir wollen, dass Sie sich auf unserer Webseite so wohl wie möglich fühlen.
    Darum ist für uns eine abwechslungsreiche Aufbereitung unserer Inhalte selbstverständlich. Durch die eingebetteten
    Instagram-Funktionen können wir unseren Content mit hilfreichen, lustigen oder spannenden Inhalten aus der
    Instagram-Welt bereichern. Da Instagram eine Tochtergesellschaft von Facebook ist, können uns die erhobenen Daten
    auch für personalisierte Werbung auf Facebook dienlich sein. So bekommen unsere Werbeanzeigen nur Menschen, die sich
    wirklich für unsere Produkte oder Dienstleistungen interessieren.
    <br/><br/>
    Instagram nützt die gesammelten Daten auch zu Messungs- und Analysezwecken. Wir bekommen zusammengefasste
    Statistiken und so mehr Einblick über Ihre Wünsche und Interessen. Wichtig ist zu erwähnen, dass diese Berichte Sie
    nicht persönlich identifizieren.
    <br/><br/>
    <h4>Welche Daten werden von Instagram gespeichert?</h4>
    Wenn Sie auf eine unserer Seiten stoßen, die Instagram-Funktionen (wie Instagrambilder oder Plug-ins) eingebaut
    haben, setzt sich Ihr Browser automatisch mit den Servern von Instagram in Verbindung. Dabei werden Daten an
    Instagram versandt, gespeichert und verarbeitet. Und zwar unabhängig, ob Sie ein Instagram-Konto haben oder nicht.
    Dazu zählen Informationen über unserer Webseite, über Ihren Computer, über getätigte Käufe, über Werbeanzeigen, die
    Sie sehen und wie Sie unser Angebot nutzen. Weiters werden auch Datum und Uhrzeit Ihrer Interaktion mit Instagram
    gespeichert. Wenn Sie ein Instagram-Konto haben bzw. eingeloggt sind, speichert Instagram deutlich mehr Daten über
    Sie.
    <br/><br/>
    Facebook unterscheidet zwischen Kundendaten und Eventdaten. Wir gehen davon aus, dass dies bei Instagram genau so
    der Fall ist. Kundendaten sind zum Beispiel Name, Adresse, Telefonnummer und IP-Adresse. Wichtig zu erwähnen ist,
    dass diese Kundendaten erst an Instagram übermittelt werden, wenn Sie zuvor „gehasht“ wurden. Hashing meint, ein
    Datensatz wird in eine Zeichenkette verwandelt. Dadurch kann man die Kontaktdaten verschlüsseln. Zudem werden auch
    die oben genannten „Event-Daten“ übermittelt. Unter „Event-Daten“ versteht Facebook – und folglich auch Instagram –
    Daten über Ihr Userverhalten. Es kann auch vorkommen, dass Kontaktdaten mit Event-Daten kombiniert werden. Die
    erhobenen Kontaktdaten werden mit den Daten, die Instagram bereits von Ihnen hat abgeglichen.
    <br/><br/>
    Über kleine Text-Dateien (Cookies), die meist in Ihrem Browser gesetzt werden, werden die gesammelten Daten an
    Facebook übermittelt. Je nach verwendeten Instagram-Funktionen und ob Sie selbst ein Instagram-Konto haben, werden
    unterschiedlich viele Daten gespeichert.
    <br/><br/>
    Wir gehen davon aus, dass bei Instagram die Datenverarbeitung gleich funktioniert wie bei Facebook. Das bedeutet:
    wenn Sie ein Instagram-Konto haben oder www.instagram.com besucht haben, hat Instagram zumindest ein Cookie gesetzt.
    Wenn das der Fall ist, sendet Ihr Browser über das Cookie Infos an Instagram, sobald Sie mit einer
    Instagram-Funktion in Berührung kommen. Spätestens nach 90 Tagen (nach Abgleichung) werden diese Daten wieder
    gelöscht bzw. anonymisiert. Obwohl wir uns intensiv mit der Datenverarbeitung von Instagram beschäftigt haben,
    können wir nicht ganz genau sagen, welche Daten Instagram exakt sammelt und speichert.
    <br/><br/>
    Im Folgenden zeigen wir Ihnen Cookies, die in Ihrem Browser mindestens gesetzt werden, wenn Sie auf eine
    Instagram-Funktion (wie z.B. Button oder ein Insta-Bild) klicken. Bei unserem Test gehen wir davon aus, dass Sie
    kein Instagram-Konto haben. Wenn Sie bei Instagram eingeloggt sind, werden natürlich deutlich mehr Cookies in Ihrem
    Browser gesetzt.
    <br/><br/>
    Diese Cookies wurden bei unserem Test verwendet:
    <br/>
    Name: csrftoken<br/>
    Wert: “”<br/>
    Verwendungszweck: Dieses Cookie wird mit hoher Wahrscheinlichkeit aus Sicherheitsgründen gesetzt, um Fälschungen von
    Anfragen zu verhindern. Genauer konnten wir das allerdings nicht in Erfahrung bringen.<br/>
    Ablaufdatum: nach einem Jahr
    <br/><br/>
    Name: mid<br/>
    Wert: “”<br/>
    Verwendungszweck: Instagram setzt dieses Cookie, um die eigenen Dienstleistungen und Angebote in und außerhalb von
    Instagram zu optimieren. Das Cookie legt eine eindeutige User-ID fest.<br/>
    Ablaufdatum: nach Ende der Sitzung
    <br/>
    <br/>
    Name: fbsr_321191713124024<br/>
    Wert: keine Angaben<br/>
    Verwendungszweck: Dieses Cookie speichert die Log-in-Anfrage für User der Instagram-App.<br/>
    Ablaufdatum: nach Ende der Sitzung
    <br/>
    <br/>
    Name: rur<br/>
    Wert: ATN<br/>
    Verwendungszweck: Dabei handelt es sich um ein Instagram-Cookie, das die Funktionalität auf Instagram gewährleistet.<br/>
    Ablaufdatum: nach Ende der Sitzung
    <br/><br/>
    Name: urlgen<br/>
    Wert: “{\”194.96.75.33\”: 1901}:1iEtYv:Y833k2_UjKvXgYe321191713”<br/>
    Verwendungszweck: Dieses Cookie dient den Marketingzwecken von Instagram.<br/>
    Ablaufdatum: nach Ende der Sitzung
    <br/><br/>
    Anmerkung: Wir können hier keinen Vollständigkeitsanspruch erheben. Welche Cookies im individuellen Fall gesetzt
    werden, hängt von den eingebetteten Funktionen und Ihrer Verwendung von Instagram ab.
    <br/>
    <br/>
    <h4>Wie lange und wo werden die Daten gespeichert?</h4>
    Instagram teilt die erhaltenen Informationen zwischen den Facebook-Unternehmen mit externen Partnern und mit
    Personen, mit denen Sie sich weltweit verbinden. Die Datenverarbeitung erfolgt unter Einhaltung der eigenen
    Datenrichtlinie. Ihre Daten sind, unter anderem aus Sicherheitsgründen, auf den Facebook-Servern auf der ganzen Welt
    verteilt. Die meisten dieser Server stehen in den USA.
    <br/>
    <br/>
    <h4>Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h4>
    Dank der Datenschutz Grundverordnung haben Sie das Recht auf Auskunft, Übertragbarkeit, Berichtigung und Löschung
    Ihrer Daten. In den Instagram-Einstellungen können Sie Ihre Daten verwalten. Wenn Sie Ihre Daten auf Instagram
    völlig löschen wollen, müssen Sie Ihr Instagram-Konto dauerhaft löschen.
    <br/><br/>
    Und so funktioniert die Löschung des Instagram-Kontos:
    <br/><br/>
    Öffnen Sie zuerst die Instagram-App. Auf Ihrer Profilseite gehen Sie nach unten und klicken Sie auf „Hilfebereich“.
    Jetzt kommen Sie auf die Webseite des Unternehmens. Klicken Sie auf der Webseite auf „Verwalten des Kontos“ und dann
    auf „Dein Konto löschen“.
    <br/><br/>
    Wenn Sie Ihr Konto ganz löschen, löscht Instagram Posts wie beispielsweise Ihre Fotos und Status-Updates.
    Informationen, die andere Personen über Sie geteilt haben, gehören nicht zu Ihrem Konto und werden folglich nicht
    gelöscht.
    <br/><br/>
    Wie bereits oben erwähnt, speichert Instagram Ihre Daten in erster Linie über Cookies. Diese Cookies können Sie in
    Ihrem Browser verwalten, deaktivieren oder löschen. Abhängig von Ihrem Browser funktioniert die Verwaltung immer ein
    bisschen anders. Hier zeigen wir Ihnen die Anleitungen der wichtigsten Browser.
    <br/><br/>
    Chrome: Cookies in Chrome löschen, aktivieren und verwalten
    <br/><br/>
    Safari: Verwalten von Cookies und Websitedaten mit Safari
    <br/><br/>
    Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben
    <br/><br/>
    Internet Explorer: Löschen und Verwalten von Cookies
    <br/><br/>
    Microsoft Edge: Löschen und Verwalten von Cookies
    <br/><br/>
    Sie können auch grundsätzlich Ihren Browser so einrichten, dass Sie immer informiert werden, wenn ein Cookie gesetzt
    werden soll. Dann können Sie immer individuell entscheiden, ob Sie das Cookie zulassen wollen oder nicht.
    <br/><br/>
    Instagram ist ein Tochterunternehmen von Facebook Inc. und Facebook ist aktiver Teilnehmer beim EU-U.S. Privacy
    Shield Framework. Dieses Framework stellt eine korrekte Datenübertragung zwischen den USA und der Europäischen Union
    sicher. Unter https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC erfahren Sie mehr darüber. Wir haben
    versucht, Ihnen die wichtigsten Informationen über die Datenverarbeitung durch Instagram näherzubringen. Auf
    https://help.instagram.com/519522125107875
    können Sie sich noch näher mit den Datenrichtlinien von Instagram auseinandersetzen.
</div>
</body>
</html>