{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram Party Picture Detector</title>
    <script
            crossorigin="anonymous"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <link href="{% static 'index/../../static/index/css/index.css' %}" rel="stylesheet">
</head>
<body>
<div class="row" id="heading">
    <div class="col-12">
        <h1>Flaschendetektor</h1>
        <p>by BLANACHCOR</p>
        <img class="img img-fluid" id="logo" src="{% static 'index/img/logo2.png' %}"/>
    </div>
</div>
<div class="container">

    <div class="row description">
        <div class="col-lg-6 col-12" id="inputfield">
            <div><h5>Gib hier deinen Instagram Namen ein!*</h5>
                <form action="/your-name/" method="post">
                    <label for="instagram_tag">Instagram Name: </label>
                    <input class="form-control form-rounded" id="instagram_tag" name="instagram_tag"
                           placeholder="pfungstadter_brauerei"
                           type="text" value="{{ current_tag }}">
                    <input class="btn btn-primary" type="submit" value="Suche starten">
                </form>
            </div>
            <div class="py-3">
                <h5>Lade hier dein Bild hoch!</h5>
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <input class="inputfile" id="fileupload" name="searchImage" type="file"/>
                    <label class="btn btn-secondary" for="fileupload"><strong>Wähle ein Bild zur Überprüfung
                        aus</strong></label><br/>
                    <button class="btn btn-primary" type="submit">Bild durchsuchen...</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <ul id="list">
                <li>Du suchst nach einem neuen Arbeitsplatz und möchtest sichergehen, dass dein Arbeitgeber keine
                    peinlichen Partybilder von dir zu sehen bekommt?
                </li>
                <li>Du hast inzwischen so viele Bilder, das du nicht alle selber durchsuchen möchtest und sorge davor
                    hast doch Bilder zu übersehen?
                </li>
            </ul>
            <span>Dann bist du hier genau richtig! Unsere Webseite schafft für dieses Problem endlich eine Abhilfe!
                  Geb einfach nur deinen Instagram Namen ein und im Handumdrehen werden wir für dich herausfinden, ob du irgendwelche peinlichen Bilder auf deinem Instagram Account hast.
            </span>
            <br/>
            <br/>
            <small>*Dein Instagram Profil muss auf öffentlich gestellt sein, da wir ansonsten nicht deine Bilder
                überprüfen können.</small>
        </div>
    </div>
</div>
</body>
<footer class="page-footer font-small blue pt-1">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="impressum" target="_blank">Impressum</a>
                    </li>
                    <li>
                        <a href="datenschutz" target="_blank">Datenschutz</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2020 Copyright:
        <p class="footer-copyright"> BLANACHCOR</p>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<script>
    var input = document.getElementById('fileupload');
    var label = input.nextElementSibling, labelVal = label.innerHTML;
    input.addEventListener('change', function (e) {
        var fileName = '';
        fileName = e.target.value.split( '\\' ).pop();
        if (fileName)
            label.innerHTML = fileName;
        else
            label.innerHTML = labelVal;
    });
</script>
</html>